# AppSider
APPSIDER_URL=https://app.appsider.jp
APPSIDER_EMAIL=your@email.com
APPSIDER_PASSWORD=yourpassword

# AWS
AWS_EMAIL=
AWS_PASSWORD=

# Google Cloud
GCP_EMAIL=
GCP_PASSWORD=

# Slack
SLACK_EMAIL=
SLACK_PASSWORD=
SLACK_WORKSPACE=yourworkspace   # yourworkspace.slack.com の "yourworkspace" 部分

# Notion
NOTION_EMAIL=
NOTION_PASSWORD=
